Repository phrazzld/trump-goggles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-owner, @docs-team, @core-team, @text-team, @dom-team, @content-team, @test-team, @infra-team

.github/CODEOWNERS:

# This file defines the code owners for different parts of the repository
# Code owners will be automatically requested for review on pull requests
# that modify code they own
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @project-owner

# Documentation owners
/docs/ @docs-team
*.md @docs-team

# Core module owners
/browser-adapter.js @core-team
/browser-detect.js @core-team
/text-processor.js @text-team
/dom-processor.js @dom-team
/mutation-observer.js @dom-team
/trump-mappings.js @content-team

# Test owners
/test/ @test-team

# Configuration files
/.github/ @infra-team
/eslint.config.js @infra-team
/vitest.config.js @infra-team
/tsconfig.json @infra-team

# Note: Replace the placeholder team/user names with actual GitHub usernames or team names
# For example: /docs/ @johndoe @janedoe

ci: simplify Node.js configuration to single version
  .github/workflows/ci.yml
  CI-19-findings.md
  TODO.md
  package.json
  vitest.config.js
Owners: @infra-team, @docs-team, @project-owner

ci: strengthen pre-commit hooks
  .husky/pre-commit
  .lintstagedrc.json
  TODO.md
  eslint.config.js
Owners: @project-owner, @docs-team, @infra-team

docs(ci): document CI workflow maintenance process
  CONTRIBUTING.md
  TODO.md
  docs/CI-MAINTENANCE.md
Owners: @docs-team

style: format files with Prettier
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/default.md
  .github/workflows/ci.yml
  .github/workflows/vendor-docs.yml
  .lintstagedrc.json
  .prettierrc
  AUTHORS.md
  BACKLOG.md
  CI-17-findings.md
  CI-19-findings.md
  README.md
  REMEDIATION_PLAN.md
  browser-testing-instructions.md
  crash-test-page.html
  cross-browser-compatibility-report.md
  declarations.d.ts
  docs/architecture.md
  docs/behavior.md
  manifest-firefox.json
  manifest-universal.json
  manifest.json
  options.html
  performance-test-page.html
  pnpm-lock.yaml
  test-page.html
  test/background/background.test.js
  test/content/content.test.js
  test/manual/dynamic-content.html
  test/manual/error-simulation.html
  test/manual/index.html
  test/manual/static-content.html
  test/manual/test-report-template.md
  test/manual/test-results.md
  test/manual/visual-verification-checklist.md
  test/types.d.ts
  tsconfig.json
  tsconfig.targeted.json
  types.d.ts
Owners: @infra-team, @project-owner, @docs-team, @test-team

chore: comrade kamala, new icon
  BACKLOG.md
  README.md
  content-before-optimization.js
  content-shared.js
  cross-browser-compatibility-report.md
  images/goggles-01.png
  images/goggles-02.png
  manifest-firefox.json
  manifest-universal.json
  manifest.json
  test/content/trump-mappings.test.js
  test/content/trumpMap.test.js
  trump-mappings.js
Owners: @docs-team, @project-owner, @test-team, @content-team

chore(docs): cleanup
  REMEDIATION_PLAN.md
  TODO.md
Owners: @docs-team
