Repository phrazzld/trump-goggles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-owner, @docs-team, @core-team, @text-team, @dom-team, @content-team, @test-team, @infra-team

.github/CODEOWNERS:

# This file defines the code owners for different parts of the repository
# Code owners will be automatically requested for review on pull requests
# that modify code they own
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @project-owner

# Documentation owners
/docs/ @docs-team
*.md @docs-team

# Core module owners
/browser-adapter.js @core-team
/browser-detect.js @core-team
/text-processor.js @text-team
/dom-processor.js @dom-team
/mutation-observer.js @dom-team
/trump-mappings.js @content-team

# Test owners
/test/ @test-team

# Configuration files
/.github/ @infra-team
/eslint.config.js @infra-team
/vitest.config.js @infra-team
/tsconfig.json @infra-team

# Note: Replace the placeholder team/user names with actual GitHub usernames or team names
# For example: /docs/ @johndoe @janedoe

chore: remove completed task plan files
  FIX-PAGE-CRASH.md
  R-01-plan.md
  TEST-01-plan.md
  TEST-01-summary.md
  TEST-02-plan.md
  TEST-03-plan.md
Owners: @docs-team

CI-02: Resolve type compatibility issues
  archive/obsolete-scripts/background.js
  archive/obsolete-scripts/content-fixed.js
  archive/obsolete-scripts/content.js
  background-cross-browser.js
  browser-detect.js
  content-consolidated.js
  tsconfig.json
Owners: @project-owner, @core-team, @infra-team

CI-03: Fix browser detection type errors
  browser-detect.js
Owners: @core-team

CI-04: Clean up test files
  test/content/mutation-observer.test.js
  test/content/text-processor.test.js
  test/integration/content-integration.test.js
  test/mocks/browser-adapter.mock.js
  test/mocks/extension-api.mock.js
Owners: @test-team

CI-05: Implement local CI verification process
  .lintstagedrc.json
  CONTRIBUTING.md
  verify-ci.sh
Owners: @project-owner, @docs-team

fix: resolve type compatibility issues in error handlers
  .lintstagedrc.json
  TODO.md
  background-cross-browser.js
Owners: @project-owner, @docs-team

fix: browser detection type errors
  CI-03-plan.md
  TODO.md
  browser-detect.js
Owners: @docs-team, @core-team

fix: clean up test files by fixing unused variables
  CI-04-plan.md
  TODO.md
  eslint.config.js
  test/content/mutation-observer.test.js
  test/content/text-processor.test.js
Owners: @docs-team, @infra-team, @test-team

ci: implement local CI verification process
  .lintstagedrc.json
  CONTRIBUTING.md
  TODO.md
  package.json
Owners: @project-owner, @docs-team

chore: update husky pre-commit to resolve deprecation warning
  .husky/pre-commit
Owners: @project-owner

chore: mark CI-01 task as completed
  TODO.md
Owners: @docs-team

chore: docs cleanup
  CI-03-plan.md
  CI-04-plan.md
  docs/DEVELOPMENT_PHILOSOPHY.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_TYPESCRIPT.md
  docs/prompts
Owners: @docs-team

fix(typescript): properly type extension APIs and fix TypeScript errors
  .lintstagedrc.json
  TODO.md
  background-combined.js
  browser-adapter.js
  content-consolidated.js
  declarations.d.ts
  manifest.json
  package.json
  text-processor.js
  tsconfig.json
Owners: @project-owner, @docs-team, @core-team, @text-team, @infra-team

feat(typescript): define interfaces for window module exports
  TODO.md
  tsconfig.json
  types.d.ts
Owners: @docs-team, @infra-team, @project-owner

feat(typescript): define types for browser API interactions
  TS-06-plan.md
  types.d.ts
Owners: @docs-team, @project-owner

docs: align trailing comma documentation with prettier config
  CONTRIBUTING.md
  DOC-03-plan.md
Owners: @docs-team

test: verify nickname mappings test file structure
  TEST-05-plan.md
Owners: @docs-team

test(nickname-mapping): implement unit tests for nickname mapping core logic
  TEST-06-plan.md
  TODO.md
  test/content/trump-mappings.test.js
Owners: @docs-team, @test-team

test(nickname-mapping): implement unit tests for legacy support
  TEST-07-plan.md
  TODO.md
  test/content/trump-mappings.test.js
Owners: @docs-team, @test-team

fix(strict-mode): address TypeScript strict mode errors in core modules
  browser-detect.js
  dom-processor.js
  error-handler.js
Owners: @core-team, @dom-team, @project-owner

fix(typescript): address TypeScript strict mode errors in core modules
  TODO.md
  logger.js
  mutation-observer.js
  text-processor.js
  tsconfig.json
  types.d.ts
Owners: @docs-team, @project-owner, @dom-team, @text-team, @infra-team

chore: mark TS-03 and TS-04 as completed
  TODO.md
Owners: @docs-team

chore: mark TS-05 as completed
  TODO.md
Owners: @docs-team

chore: mark TS-06 and TS-07 as completed
  TODO.md
Owners: @docs-team

chore: mark TS-08 as completed
  TODO.md
Owners: @docs-team

docs: mark DOC-03 as completed - trailing comma documentation matches Prettier config
  TODO.md
Owners: @docs-team

chore: mark TEST-05 task as completed
  TODO.md
Owners: @docs-team

ci: update pre-commit hooks for TypeScript checking
  .lintstagedrc.json
  CI-06-plan.md
  TODO.md
Owners: @project-owner, @docs-team

ci: fix pre-commit hook and update CI for coverage reporting
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  CI-07-plan.md
  TODO.md
  vitest.config.js
Owners: @infra-team, @project-owner, @docs-team

test: complete verification suite execution (TEST-08)
  TEST-08-plan.md
  TEST-08-verification-summary.md
  TODO.md
Owners: @docs-team

chore: organize project documentation and config files
  BACKLOG.md
  CI-06-plan.md
  CI-07-plan.md
  DOC-03-plan.md
  REMEDIATION_PLAN.md
  TEST-05-plan.md
  TEST-06-plan.md
  TEST-07-plan.md
  TEST-08-plan.md
  TEST-08-verification-summary.md
  TS-06-plan.md
  tsconfig.targeted.json
Owners: @docs-team, @project-owner

ci: update GitHub Actions to latest versions
  .github/workflows/ci.yml
  CI-RESOLUTION-PLAN.md
  TODO.md
Owners: @infra-team, @docs-team

ci: add task to fix Node.js 20.9.0 compatibility issue
  TODO.md
Owners: @docs-team

docs: add GitHub Actions versioning strategy
  BACKLOG.md
  CI-12-plan.md
  CI-VERSIONING.md
  CONTRIBUTING.md
  TODO.md
Owners: @docs-team

fix(ci): resolve Node.js 20.9.0 compatibility issues
  CI-13-SUMMARY.md
  CI-13-implementation.md
  CI-13-plan.md
  TODO.md
  tsconfig.json
  vitest.config.js
Owners: @docs-team, @infra-team

fix(lint): resolve unused variable warning in content-integration.test.js
  CI-12-plan.md
  CI-13-SUMMARY.md
  CI-13-implementation.md
  CI-13-plan.md
  CI-RESOLUTION-PLAN.md
  CI-VERSIONING.md
  TODO.md
  test/integration/content-integration.test.js
Owners: @docs-team, @test-team

fix(lint): resolve unused imports in trump-mappings.test.js
  TODO.md
  test/content/trump-mappings.test.js
Owners: @docs-team, @test-team

fix(lint): address unused error variables in background-combined.js
  TODO.md
  background-combined.js
Owners: @docs-team, @project-owner

docs(ci): investigate GitHub Actions workflow configuration
  CI-17-findings.md
  TODO.md
Owners: @docs-team

ci: fix artifact upload naming conflicts
  .github/workflows/ci.yml
  TODO.md
Owners: @infra-team, @docs-team
